<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../../static/partials/navbar.ejs %>

    <main class="dashboard-pages">
      <a href="/admin/employees" class="back-link">< back to all employees</a>
      <h1><%= employee.firstName %> <%= employee.lastName %></h1>
      <p><%= employee.email %></p>
      <div class="dual-buttons">
        <a href="/admin/employees/<%= employee.id %>/edit" class="button button-primary">edit</a>
        <form action="/admin/employees/<%= employee.id %>/destroy" method="post">
          <button type="submit" class="button button-secondary button-delete">delete</button>
        </form>
      </div>

      <table class="employee-table table">
        <thead>
          <tr>
            <th>Visitor Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date of Visit</th>
          </tr>
        </thead>
        <tbody>
          <% employee.visitors.forEach((visitor) => { %>
            <tr>
              <td>
                <%= visitor.firstName %> <%= visitor.lastName %>
              </td>
              <td>
                <%= visitor.company %>
              </td>
              <td>
                <%= visitor.email %>
              </td>
              <td>
                <%= visitor.phone %>
              </td>
              <td class="date">
                <%= new Date(visitor.createdAt).toString().slice(0, 25) %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
